*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
body{
    display: center;
    text-align: center;
}
h1{
  max-width: 700px;
 margin: 40px auto;
padding: 30px;
}
 h1 {
    text-align: center;
    margin-bottom: 20px;
    color: green;
  }
a{
    color: rgb(7, 56, 18);
}