*{
  margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}
body{
    text-justify: auto;
    background-color: rgb(230, 238, 231);
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size:large;
}
ul {
    list-style: disc;
    list-style-position: inside;
    padding-left: 0;
}
a {
  display: inline;
  color: hsla(251, 93%, 6%, 0.918);
  text-decoration: none;
}
title{
    justify-self: auto;
}