*{
  margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: serif;
}
body {
    text-justify: auto;
    background-color: rgb(236, 241, 237);
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:large
}
ul {
    align-items: center;
    list-style: disc;
    list-style-position: inside;
    padding-left: 0;
    font-weight: 200;
}
a {
  align-items: center;
  display: inline;
  color: hsla(251, 93%, 6%, 0.918);
  text-decoration: none;
}
title {
    justify-self: auto;
}